.element {
  text-align: center;
  height: 120px;
  .content-element {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid var(--gray);
    margin-bottom: 10px;
  }
  img {
    width: 50px;
    padding: 10px;
  }
}
