#footer {
  color: white;
  background-color: var(--principal);
  text-align: center;
  opacity: 0.9;
  height: 10vh;
  padding: 1em;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 85%;
    .text {
      font-size: 0.7em;
      @media (min-width: 768px) {
        font-size: 1em;
      }
    }
  }
}
