#header {
  background-color: var(--principal);
  position: relative;
  color: white;
  text-align: center;
  width: 100vw;
  opacity: 0.9;
  height: 15vh;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.5em 0 1.5em;
  }

  .desktop {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .name {
    font-size: 19px;
  }
  .links-container {
    .menu {
      cursor: pointer;
      img {
        width: 30px;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .link {
        margin: 0 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: 450ms all;
        padding-bottom: 3px;
        &:hover {
          border-color: white;
        }
      }
      .iconMenu {
        font-size: 14px;
      }
      a {
        color: white;
        font-size: 12px;
        text-decoration: none;
      }
      span {
        margin-left: 5px;
      }
    }
  }
  @media (min-width: 768px) {
    .name {
      font-size: 21px;
    }
    .container {
      padding-left: 1em;
      padding-right: 1em;
    }
    .links-container {
      width: 90%;
      .links {
        .iconMenu {
          font-size: 16px;
        }
        .link {
          font-size: 16px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .container {
      padding-left: 8em;
      padding-right: 8em;
    }
  }
}
